<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>
      <p>hi</p>
      <a href="/test"><button type="submit" name="button">Tester</button></a>
  </body>
</html>
