<html>
  <head>
    <meta charset="utf-8">
    <title>Template</title>
  </head>
  <body>
        <form action="/result" method="post">
            <p>Item Name</p>
            <input type="text" name="name" value="" required>
            <p>Item Description</p>
            <input type="text" name="description" value="" required>
            <p>Item Number</p>
            <input type="number" name="quantity" value="" min='1'>
            <button type="submit" name="button">Submit</button>
        </form>
  </body>
</html>
